html,
body {
  height: 100%;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
* {
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem 2rem;
}

.container {
  background-color: #f15179;
  height: 50rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background: center / cover no-repeat
    url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
}
.logo {
  width: 55%;
}
.cor-titulo {
  color: #fff;
  margin-top: 0;
}
.titulo {
  margin: 0%;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 100;
}
.subtitulo {
  font-weight: 100;
  text-transform: initial;
}
a {
  text-decoration: none;
  color: #f15179;
  font-weight: bold;
  align-self: center;
}
form {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
label {
  padding-bottom: 0.5rem;
  font-size: 14px;
}
.insertion {
  flex-basis: 100%;
  padding: 0.5rem 0rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}
#inp1::placeholder,
#inp2::placeholder {
  color: black;
}
.btn-form {
  background-color: #f15179;
  color: #fff;
  flex-basis: 100%;
  border-color: transparent;
}
button:hover {
  background-color: transparent;
}

nav {
  display: flex;
  background-color: #fff;
}
