html,
body {
  height: 100%;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
* {
  font-size: 14px;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem 2rem;
}
.logo {
  width: 55%;
}
.container {
  background-color: #f15179;
  height: 100%;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-flow: column wrap;
  row-gap: 1rem;
  align-items: flex-start;
  background: center / cover no-repeat
    url(https://dals0gb6i1pll.cloudfront.net/img/banner-mobile-buser.e1bda3c.png);
  background-size: 50rem;
}
section {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.cor-titulo {
  color: #fff;
  margin-top: 0;
}
.titulo {
  margin: 0%;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 100;
}
.subtitulo {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #f15179;
  font-weight: bold;
  align-self: center;
}
form {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  background-color: #fff;
  flex-flow: column;
}
label {
  font-size: 12px;
  margin-bottom: 3rem;
}
.insertion {
  padding: 0.6rem 0rem;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}
#inp1::placeholder,
#inp2::placeholder {
  color: black;
}
.btn-form {
  background-color: #f15179;
  margin: 0;
  color: #fff;
  border-color: transparent;
}
.btn-form:hover {
  cursor: pointer;
  background-color: #fff;
  color: #f15179;
  border-color: #f15179;
}
.btn-form i {
  font-size: 12px;
}
nav {
  color: gray;
  background-color: #fff;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
nav ul {
  margin: 0;
  padding: 0%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul li {
  font-size: 12px;
  padding: 0rem 0.6rem;
  text-align: center;
}
nav ul i {
  font-size: 16px;
}
.submit-lente {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
  line-height: 5.8rem;
  color: gray;
}
.submit-line {
  position: relative;
  width: 100%;
}
.submit-line input {
  width: 100%;
}
.direita {
  color: #0266c3;
  transform: rotate(90deg);
  right: 0.5rem;
}
.direita:hover {
  cursor: pointer;
}
.esquerda {
  margin-right: 90%;
}
